@import "../../../assets/scss/variaveis.scss";

.projeto {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: $branco-1;
    text-decoration: none;
    border-bottom: 1px solid $cinza-escuro-3;

    &:hover {
        background-image: linear-gradient($cinza-escuro-2, rgba(64, 224, 208, 0.1));
    }

    @media (max-width: 480px) {
        flex-direction: column;
    }

    .projeto__texto-container {
        .projeto__titulo {
            margin-bottom: 10px;
        }

        .projeto__descricao {
            padding: 10px 0;
        }
    }

    .projeto__informacoes-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        min-width: 150px;

        .projeto__icone-linguagem {
            display: inline;
            border: 1px solid $branco-1;
            padding: 10px;
            border-radius: 20px;
        }

        .projeto__github-link {
            color: $branco-1;
            text-decoration: none;
            padding: 10px;
            border-radius: 20px;
            margin-top: 10px;

            &:hover {
                background-color: turquoise;
                color: $cinza-escuro-1;
                transition: 1s all;
            }

            @media (max-width: 480px) {
                margin-top: 0;
            }
        }
    }
}
