<header class="header">
    <nav class="header__nav">
        <ul class="header__ul">
            <li>
                <a (click)="scrolarPara($event, elementos.home.offsetTop - 40)" class="ativo" href="#">
                    <i class="fa-solid fa-house"></i>
                    Início
                </a>
            </li>
            <li>
                <a (click)="scrolarPara($event, elementos.skills.offsetTop - 40)" href="#">
                    <i class="fa-solid fa-code"></i>
                    Skills
                </a>
            </li>
            <li>
                <a (click)="scrolarPara($event, elementos.projetos.offsetTop - 40)" href="#">
                    <i class="fa-solid fa-list-check"></i>
                    Projetos
                </a>
            </li>
        </ul>
    </nav>
</header>