h1 {
    font-size: 1rem;
}

h2 {
    font-size: 0.9rem;
}

h3 {
    font-size: 0.8rem;
}

h4 {
    font-size: 0.8rem;
}

h5,
h6 {
    font-size: 0.7rem;
}

p,
li,
a,
button,
span,
strong {
    font-size: 0.65rem;
}
