.home {
    padding: 40px 5%;

    .sobre__titulo {
        text-align: center;
        font-size: 35px;
    }

    .sobre__detalhes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 0 100px 0;

        @media (max-width: 1221px) {
            flex-direction: column;
        }

        .sobre__imagem-perfil {
            width: 200px;
            border-radius: 50%;

            @media (max-width: 1221px) {
                margin-bottom: 20px;
            }
        }

        .sobre__descricao {
            .sobre__lista {
                list-style-position: inside;

                .sobre__item--contatos {
                    list-style: none;
                    margin-top: 10px;

                    .sobre__item-contato-link {
                        font-size: 35px;
                        color: var(--branco-1);
                        margin-right: 15px;
                    }

                    .sobre__item-contato-link--linkedin {
                        &:hover {
                            color: #0961b8;
                            transition: 1s all;
                        }
                    }

                    .sobre__item-contato-link--github {
                        &:hover {
                            color: #555;
                            transition: 1s all;
                        }
                    }

                    .sobre__item-contato-link--email {
                        &:hover {
                            color: #de3f32;
                            transition: 1s all;
                        }
                    }
                }
            }
        }
    }

    .skills {
        .skills__container {
            display: flex;
            justify-content: space-around;
            padding: 40px 0;

            .skills__skill-imagem {
                width: 80px;

                @media (max-width: 600px) {
                    width: 40px;
                }
            }
        }
    }

    .projetos {
        padding: 40px 0;

        .projetos__titulo {
            margin-bottom: 20px;
        }

        .projetos__carregando-container {
            display: flex;
            align-items: center;
            padding: 10px 0;

            .projetos__icone-carregando {
                font-size: 30px;
                animation: spin 1s infinite;
                margin-left: 10px;
            }

            @keyframes spin {
                from {
                    transform: rotate(360deg);
                }
                to {
                    transform: rotate(0deg);
                }
            }
        }
    }
}
